body {
    padding: 0;
    margin: 0;
    border: 0;
}
.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

#product-form {
    margin-top: 20px;
}

#add-product-btn {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

#add-product-btn:hover {
    background-color: #0056b3;
}

.form-input {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(50% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.logo {
    float: left;
    margin: 0;
    font-size: 24px;
}

.nav-links {
    float: right;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #ccc;
}
